body {
    background-color:#d6b9b9;
}

.bg-primary {
    background-color: cyan;
}

.text-white {
    color: green;
}

element.style {
    height: 350px;
}

element.style {
    height: 250px;
}

.bg-secondary {
    background-color: skyblue;
}

.img-circle {
    border-radius: 50%;
}

.btn-outline-light {
    color: black;
    border-color: black;
}

.footer {
        background-color: #d6b9b9;
}

.footer {
    color: black;
}
#mainNav .navbar-brand {
    color: #dc3545;
}
.bg-primary {
    background-color: #d6b9b9!important;
;
}
.text-white {
    color: #17202a!important;
}