* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}
h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	padding-bottom: 20px;
	font-size: 250%;
}

.title {
	background: linear-gradient(to right);
	padding: 20px;
}

.subtitle {
	padding: 20px;
	font-size: 150%;
}

.stats-container {
	text-align: center;
	float: none;
	display: inline-block;
	padding: 20px;
}
.location-container {
	display: inline-block;
}
.data-container {
	border: 2px solid #73AD21;
	margin-right: 30%;
	margin-left: 30%;
}

h4 {
	font-size: 85%;
 	color: gray;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
 	text-align: center;
 	padding-top: 20px;
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-bottom: 5px;
}
.footer {
	font-family: 'Roboto', sans-serif;
	bottom: 0;
	font-size: 75%;
	padding: 5px;
}

body {
    background-color: white;
}

h1 {
    color: darkgreen;
}

table {
    color: firebrick;
}

span {
    color:forestgreen;
}
 
div.Symptoms {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}